employeeservice/src/main/app/employeeservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9090" basePath="demo" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8080" basePath="/myapp" doc:name="HTTP Request Configuration"/>
    <flow name="employeeserviceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/create" allowedMethods="POST" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/test/emp" method="POST" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="8bc952e2-fb59-4c36-a69d-cdfd25caf91a">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	name: payload.name,
	dept: payload.dept,
	designation: payload.designation,
	dob: payload.dob,
	doj: payload.doj
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload] Employee Created" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="employeeserviceFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/emp/{empid}" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/test/emp/empid/{empid}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="empid" value="#[message.inboundProperties.'http.uri.params'.empid]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message" metadata:id="9b4e7635-823d-4437-a315-c1f162ef4fde">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	name: payload.name,
	dept: payload.dept,
	designation: payload.designation,
	dob: payload.dob,
	doj: payload.doj,
	emailid: payload.emailid
}]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger" message="test"/>
    </flow>
</mule>
